# Advent of Code Session Cookie
# To get your session cookie:
# 1. Go to https://adventofcode.com and log in
# 2. Open browser developer tools (F12)
# 3. Go to Application/Storage > Cookies > https://adventofcode.com
# 4. Copy the value of the 'session' cookie
# 5. Paste it below (without quotes)

AOC_SESSION=your_session_cookie_here
